@font-face {
  font-family: monogram;
  src: url(monogram.ttf);
}

p{
  font-family: monogram, monospace;
  /* font-size: 1rem; */
  overflow: hidden;
}

p {
  font-size: 8px; /* Default for smaller devices */
  /* line-height: 1.5; */
}

@media (min-width: 600px) { /* Tablets and larger phones in landscape */
  p {
    font-size: 16px;
  }
}

@media (min-width: 900px) { /* Small laptops and larger tablets */
  p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) { /* Desktop screens */
  p {
    font-size: 20px;
  }
}
/* #game{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Full viewport width */
    /* height: 100vh; /* Full viewport height */
/* } */ 