@font-face {
  font-family: monogram;
  src: url(monogram.ttf);
}

body {
  font-family: monogram, monospace;
  font-size: 2rem;
  overflow: hidden;
}

/* #game{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
} */